<p id="notice"><%= notice %></p>

<h1>Rooms</h1>
  <% @rooms.each do|room| %>
<div>
    <%= room.name %>
  <%= link_to room do %>
  <i class="bi bi-door-open"></i>
<% end %>
<%= link_to edit_room_path(room) do %>
  <i class="bi bi-pencil-square"></i>
<% end %>
<%= link_to room, method: :delete, data: { confirm: 'Are you sure?' } do %>
  <i class="bi bi-x-lg"></i>
<% end %>
<hr />
</div>
  <% end %>

<div>
  <%= link_to 'New Room', new_room_path %>
</div>

